* {
	margin: 0;
	padding : 0;
	font-family: calibri;
	list-style-type: none;
	font-size: 20px;
	color: rgb(173, 206, 255, 1);
}

html, body {
	height: 100%;
	background-color: rgb(0, 9, 22);
}


header {
	background: url("./img/background2.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

footer {
	padding: 0 0 10px 0 ;
}

footer p, footer p a {
	font-size: 15px;
	text-align: center;
	margin: 0 0 10px 0;
}

footer img {
	margin: 20px 0 0 0;
	width: 80px;
	display: block;
	margin: auto;
}

h1 {
	font-size: 60px;
	color: rgb(0, 9, 22);
}

h2 {
	font-size: 50px;
	color: rgba(0, 9, 22, 1);
}

h3 {
	text-align: center;
	font-size: 40px;
	margin : 0 0 20px 0;
}

h4 {
	font-size: 30px;
	margin : 15px 0 0 0;
}

h5 {
	font-size: 20px;
	margin : 10px 0 0 0;
}

hr {
	margin : 20px 0 0 0;
	color: rgb(173, 206, 255, 0.5)
}

#page_content, footer {
	width: 60%;
	margin: auto;
}

#main_title {
	text-align: center;
}

section {
	margin: 20px 0;
}

#geography_content {
	display: flex;
}

p.geography_element {
	padding: 0 20px 0 0;
}

.bold_text {
	font-weight: bold;
}

.italic_text {
	font-style: italic;
}
section>ul>li, section>ul>li>ul>li {
	list-style-type: circle;
	margin : 0 0 0 40px;
}


#content {
	margin : 10px 0 0 0;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

.element {
	background-color: rgb(173, 206, 255, 1);
	width: 200px;
	height: 200px;
	margin : 10px;
	border-radius: 20px;
	text-align:center;
	
	display: flex;
	align-content: center;
	flex-direction: column;
}

.element:hover {
	background-color: rgb(119, 174, 255, 1);
}


.element img {
	width : 144px;
	margin : auto;
}

.element p {
	color: rgb(0, 14, 34);
	margin : 0 5px 5px 5px;
	text-align: center;
}

a {
	color: rgb(119, 174, 255, 1);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*Inspiré de https://codepen.io/htmlcodex/pen/LYGjPgV */

*, *::before, *::after {
	box-sizing: border-box;
}

.timeline {
	position: relative;
	width: 100%;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background: rgb(119, 174, 255, 1);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}

.container {
	padding: 15px 30px 15px 0;
	position: relative;
	background: inherit;
	width: 50%;
}

.container.left {
	padding: 15px 30px 15px 0;
	left: 0;
}

.container.right {
	padding: 15px 0 15px 30px;
	left: 50%;
}

.container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: #ffffff;
	border: 2px solid rgb(119, 174, 255, 1);
	border-radius: 16px;
	z-index: 1;
}

.container.right::after {
	left: -8px;
}

.container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: rgb(119, 174, 255, 1);
	z-index: 1;
}

.container.right::before {
	left: 8px;
}

.container .date {
	position: absolute;
	display: inline-block;
	top: calc(50% - 8px);
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: rgb(119, 174, 255, 1);
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}

.container.left .date {
	right: -75px;
}

.container.right .date {
	left: -75px;
}

.container .icon {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: rgb(173, 206, 255, 1);
	border: 2px solid rgb(119, 174, 255, 1);
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: rgb(119, 174, 255, 1);
	z-index: 1;
}

.container.left .icon {
	right: 56px;
}

.container.right .icon {
	left: 56px;
}

.container .content {
	background: rgb(173, 206, 255, 1);
	position: relative;
}

.container.left .content {
	padding: 20px 90px 20px 20px;
	border-radius: 0 500px 500px 0;
}

.container.right .content {
	padding: 20px 20px 20px 90px;
	border-radius: 500px 0 0 500px;
}

.container .content h4 {
	margin: 0 0 10px 0;
	font-weight: bold;
	color: rgba(0, 9, 22, 1);
}

.container .content p, .container .content p span, .container .content p a {
	margin: 0;
	color: rgba(0, 9, 22, 1);
	font-size: 15px;
}


@media (max-width: 767.98px) {
	.timeline::after {
		left: 90px;
	}

	.container {
		width: 100%;
		padding-left: 120px;
		padding-right: 30px;
	}

	.container.right {
		left: 0%;
	}

	.container.left::after, 
	.container.right::after {
		left: 82px;
	}

	.container.left::before,
	.container.right::before {
		left: 100px;
		border-color: transparent rgb(119, 174, 255, 1) transparent transparent;
	}

	.container.left .date,
	.container.right .date {
		right: auto;
		left: 15px;
	}

	.container.left .icon,
	.container.right .icon {
		right: auto;
		left: 146px;
	}

	.container.left .content,
	.container.right .content {
		padding: 20px 20px 20px 90px;
		border-radius: 500px 0 0 500px;
	}
}